$SectionStyle {

}
<div class="row">
    <table id="process-table" class="table table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>PID</th>
                <th>Memory</th>
                <th>Memory<sub>Peak</sub></th>
            </tr>
        </thead>
    </table>
    </div>
    $SectionScript {
    <script>
    $(document).ready(function () {
        domLoad();
    });

    function domLoad() {
        $('#page-wrapper').loading();
        var client = new $.RestClient('/api/process/');
        client.add('getprocesses');
        client.getprocesses.read().done(function (data) {
            $('#process-table').DataTable({
                data: data,
                paging: false,
                autoWidth: false,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'copy',
                        text: '<u>C</u>opy',
                        key: {
                            key: 'c',
                            altKey: true
                        }
                    }
                ],
                columns: [
                    { data: "ProcessName"},
                    { data: "Id" },
                    { data: "WorkingSet64View" },
                    { data: "PeakWorkingSet64View"}
                ]
            });
            $('#page-wrapper').loading('stop');
        });
    }

    </script>
    }
